/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    touch-action: manipulation;
}

html {
    min-height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calc {
    width: 340px;
    margin: 2em;
    padding: .5em;
    background-image: linear-gradient(#F3F4E9, #E7F8F9, #F3F4E9);
    color: #000;
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0 0 10px #bbb;
}

#calc h3 {
    display: flex;
    font-size: .8em;
    line-height: 1.4em;
    font-weight: 500;
    color: #000;
}

#calc img {
    width: 15px;
    height: 16px;
    margin-right: 13px;
    margin-left: 8px;
}

#operations {
    text-align: right;
    min-height: 100px;
    padding-bottom: 10px;
}

/*  
    vamos juntar códigos que são iguais
    nas duas id's abaixo para economizar código
    e utilizar boas práticas de programação
*/
#previous-operation,
#current-operation {
    min-height: 1.6em;
    padding: .2em;
    overflow-wrap: break-word;
}

#previous-operation {
    color: #777;
}

#current-operation {
    font-size: 3em;
    font-weight: 500;
}

/* usando o GRID para layout dos botões */
#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 3px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: rgba(242, 252, 252, 0.7);
    cursor: pointer;
    color: #000;
    border-radius: 4px;
    border: 0.1px solid #ddd;
    box-shadow: 0.2px 0.5px rgb(130, 130, 130);
}

#buttons-container .number {
    background-color: #fff;
}

#number:hover {
    background-color: rgba(252, 252, 252, 0.9);
}

#operationBtn:hover {
    background-color: rgba(237, 247, 247);
}

#buttons-container button:active {
    color: #666;
    box-shadow: none;
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #8E3AA7;
    color: #f0f0f0;
    box-shadow: none;
}

#buttons-container #equal-btn:hover {
    background-color: #984DAF;
}

/* FOOTER */
footer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #fff;
}

footer a {
    color: #0d6efd;
}

#icons {
    padding-bottom: 10px;
}

#icons i {
    font-size: 2em;
    color: #0d6efd;
}